
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f2f5;
}


.navbar {
    width: 100%;
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #1877f2;
}

.search-box input {
    width: 250px;
    padding: 8px 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.nav-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-icons a:hover {
    color: #1877f2;
}


.container {
    display: flex;
    width: 100%;
    padding: 20px;
}


.left-sidebar {
    width: 20%;
    padding: 15px;
}

.left-sidebar h3 {
    margin-bottom: 10px;
}

.left-sidebar ul li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.left-sidebar ul li:hover {
    color: #1877f2;
}


.feed {
    width: 60%;
    padding: 0 20px;
}


.create-post {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.create-post textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.create-post button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    background: #1877f2;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}


.post {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post h4 {
    margin-bottom: 5px;
}


.right-sidebar {
    width: 20%;
    padding: 15px;
}

.suggestion {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}


@media (max-width: 1000px) {
  .container { 
    max-width:940px; 
    gap:14px;
 }
  .left-sidebar { 
    display:block; 
    width:22%; 
    min-width:140px; 
}
  .feed {
     width:56%; 
     min-width:300px; 
    }
  .right-sidebar { 
    width:22%; 
    min-width:140px;
 }
  .search-box { 
    flex: 1 1 300px; 
}
}


@media (max-width: 760px) {
  .container { flex-direction:column; padding:0 12px; gap:12px; }
  .left-sidebar, .right-sidebar { display:none; }
  .feed { width:100%; padding:0; }

}
