*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    overflow-x: hidden;
    text-align: center;
}



#newaccount{
    font-style: italic;
}

header h1{
    font-size: 50px;
    color: #4267B2;
    margin-top: 40px;
   
}

form{
    height: 450px;
    width: 370px;
    background-color: white;
    border-radius: 29px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: auto;


}

input{
    height: 40px;
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
}

button{
    height: 40px;
    width: 90%;
    border-radius: 15px;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: #36a420;
}

#login{
    display: block;
    margin-top: 20px;
    color: #1877f2;
    text-decoration: none;
}






